Project 1/force-app/main/default/flows/Update_Delivery_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Status_Path</name>
        <label>Status Path</label>
        <locationX>331</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time</targetReference>
            </connector>
            <label>Delivered</label>
        </rules>
        <rules>
            <name>Out_for_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Route</targetReference>
            </connector>
            <label>Out for Delivery</label>
        </rules>
        <rules>
            <name>Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_To</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Package</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Mail__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PackageStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Mail__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Update Delivery Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Delivery Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Delivered</name>
        <label>Update Delivered</label>
        <locationX>204</locationX>
        <locationY>601</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package_Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivered_Time__c</field>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Mail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Out_For_Delivery</name>
        <label>Update Out For Delivery</label>
        <locationX>350</locationX>
        <locationY>602</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package_Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Route__c</field>
            <value>
                <elementReference>OnRoute.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Mail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping</name>
        <label>Update Shipping</label>
        <locationX>505</locationX>
        <locationY>595</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package_Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_To__c</field>
            <value>
                <elementReference>Shipping_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Mail__c</object>
    </recordUpdates>
    <screens>
        <name>Delivery_Status</name>
        <label>Delivery Status</label>
        <locationX>175</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Path</targetReference>
        </connector>
        <fields>
            <name>Package_Name</name>
            <choiceReferences>Package</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Package Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>PackageStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Date_Time</name>
        <label>Update Date &amp; Time</label>
        <locationX>217</locationX>
        <locationY>431</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Delivered</targetReference>
        </connector>
        <fields>
            <name>Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Route</name>
        <label>Update Route</label>
        <locationX>357</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Out_For_Delivery</targetReference>
        </connector>
        <fields>
            <name>OnRoute</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>On_Route__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Route</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Mail__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Shipping_To</name>
        <label>Update Shipping To</label>
        <locationX>503</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Shipping</targetReference>
        </connector>
        <fields>
            <name>Shipping_To</name>
            <dataType>String</dataType>
            <fieldText>Shipping To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Delivery_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
